* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

#btn {
    
    border-radius: 12px;
    padding: 10px;
}

.container {
    display: flex;  
    flex-direction: column;
    height: 70vh;
    width: 70vh;
}